extends layout

block scripts
  script(src="/js/product.controller.js")

block content
  div(ng-app="app")
    div(ng-controller="ProductController")
      form
        .name Name:
        input(ng-model="product.name")
        .price Price:
        input(ng-model="product.price", type="number")
        button(ng-click="save()") Save
        pre {{product | json}}
      hr
      h1 Products
      .product(ng-repeat="p in products")
        .name {{p.name}}
        .price {{p.price}}
        .del
          button(ng-click="del(p.__id)") Del
        br

