doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/libs/angular.min.js")
    script(src="/libs/angular-resource.min.js")
    script(src="/js/app.module.js")
    block scripts
  body
    block content
