<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Basics Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="your.Name" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{your.Name}}!</h1>
    </div>
</body>
</html>